body {
  background-image: url("img/plastics-framcentre.jpg");
  .container-bodytext {
    .bodytext {
      font-family: Lucida Sans Unicode;
      color: white;
    }
  }
  .container-button {
    .subtitle {
        display: block;
        text-align: center;
        color: white;
        font-family: Myanmar Text;
        font-size: 1em;
        text-decoration: underline;
      }
    }

    /*Saads*/
      .bodytext-saad, h5 {
            font-family: 'Lucida Sans Unicode';
            color: white;
        }
        /*Saads slut*/

        /*Lukas start*/
        .card-body {
          background-color: rgba( #000000, 0.0);

          .text-white {
            margin-bottom: 1em;
          }
        }

        .btn{
          font-family: 'Lucida Sans Unicode';
          font-weight: 700;
      }
      /*Lukas slut*/

      /*Osman start*/
      .body-text-osman {
        padding: 0px 1em 0px 1em;
        vertical-align: middle;
        color: white;
        font-family:'Lucida Sans Unicode';
      }

      .body-text-list li{
        padding-left: 3em;
        color: white;
      }

      .osman-h5 {
        color: white;
        padding-left: 0.8em;
      }
      /*Osman slut*/
}

@media (min-width: 375px) {

  nav {
    background-color:rgba(255, 255, 255, 0.5);
    padding-bottom: 0px;

      .container-fluid {
        padding-left: .5rem;
        padding-right: .5rem;
      }

      .img-logo {
        margin-left: .5rem;
      }

      .nav-link {
        font-family: Myanmar Text;
        font-weight: bold;
        font-size: 1.2em;
        padding: .3rem .3rem;
        color: #0F1A4A;
      }

      .kontakt {
        padding-right: .6rem;
      }

  }

  .container-bodytext{
    display: none;

    .bodytext {
      display: none;
    }
  }

  .container-button {
    margin: 42% auto;

    #background-color {
      background: rgba(#000000, 0.5);
      padding: 7% 0% 9% 0%;
      border-radius: 29px;
    }

    .header-1 {
      margin-bottom: 10%;
      font-size: 3em;
    }

    .subtitle {
      display: none;
    }

    .p-white {
      font-family: Myanmar Text;
      font-weight: bold;
      color: white;
    }

    .p-green {
      font-family: Segoe Print;
      color: #65FC54
    }

    .btn-primary, .btn-secondary {
      background-color: #FC5E54;
      border: 0px solid #FC5E54;
      border-radius: 25px;
      font-family: Lucida Sans Unicode;
      padding: 15px;
      font-size: 1.3rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: #22232A;
      }
    }
  }

  /*Saad start*/
  .omos{                
    border-radius: 29px;
    background-color:rgba(0,0,0,0.5);;
    padding: 7% 0% 7% 0%;
    margin: 10% auto;

    .overskrift-h1{
      color:white; 
      text-align: center;
      margin-bottom: 7%;
      font-weight: bold;
    }

    .bodytext-saad {
      padding: 0em 1.5em;
    }

    h5 {
      padding: 0em .5em;
      font-weight: bold;
      font-family: myanmar Text;
    }
  }
  /*Saad slut*/

  /*Lukas start*/
  #overlay-plastik{
    background: rgba( #000000, 0.5 );
    border-radius: 29px;
    margin: 40% auto;
    padding: 0% 10% 10% 10%;

    .lukas-h1 {
      margin-top: 1em;
      color: white;
      text-align: center;
    }
    
    .btn-success{
      background-color: #65FC54;
    }

    .btn-warning{
      background-color: #fcf154;
    }

    .btn-danger{
      background-color: #FC5E54;
    }

    .img-thumbnail{
      margin-bottom: 1em;
      width: 7em;
      height: 7em;
      object-fit: cover;
    }

    .green-border{
      border: 3px solid #65FC54;
    }

    .yellow-border{
      border: 3px solid #fcf154;
    }

    .red-border{
      border: 3px solid #FC5E54;
    }
  }
  /*Lukas slut*/

  /*Osman start*/
  #overlay-osman {
    background: rgba(#000000, 0.5);
    padding-bottom: 1em;
    margin: 13% auto;
    border-radius: 29px;   
  }
  
  .img-main {
  max-width: 30%;
  }
  /*Osman slut*/
}

@media (min-width: 414px) {

  nav {
    background-color:rgba(255, 255, 255, 0.5);
    padding-bottom: 0px;

      .container-fluid {
        padding-left: .5rem;
        padding-right: .5rem;
      }

      .img-logo {
        margin-left: .5rem;
      }

      .nav-link {
        font-family: Myanmar Text;
        font-weight: bold;
        font-size: 1.5em;
        padding: .3rem .3rem;
        color: #0F1A4A;
      }

      .kontakt {
        padding-right: .6rem;
      }

  }

  .container-bodytext{
    display: none;

    .bodytext {
      display: none;
    }
  }

  .container-button {
    margin: 42% auto;

    #background-color {
      background: rgba(#000000, 0.5);
      padding: 7% 0% 9% 0%;
      border-radius: 29px;
    }

    .header-1 {
      margin-bottom: 10%;
      font-size: 3em;
    }

    .subtitle {
      display: none;
    }

    .p-white {
      font-family: Myanmar Text;
      font-weight: bold;
      color: white;
    }

    .p-green {
      font-family: Segoe Print;
      color: #65FC54
    }

    .btn-primary, .btn-secondary {
      background-color: #FC5E54;
      border: 0px solid #FC5E54;
      border-radius: 25px;
      font-family: Lucida Sans Unicode;
      padding: 15px;
      font-size: 1.7rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: #22232A;
      }
    }
  }

  /*Saad start*/
  .omos{                
    border-radius: 29px;
    background-color:rgba(0,0,0,0.5);;
    padding: 7% 0% 7% 0%;
    margin: 10% auto;

    .overskrift-h1{
      color:white; 
      text-align: center;
      margin-bottom: 7%;
      font-weight: bold;
    }

    .bodytext-saad {
      padding: 0em 1.5em;
    }

    h5 {
      padding: 0em .5em;
      font-weight: bold;
      font-family: myanmar Text;
    }
  }
  /*Saad slut*/

  /*Lukas start*/
  #overlay-plastik{
    padding: 0% 15% 5% 15%;
    margin: 22% auto;

    .lukas-h1 {
      margin-top: 1em;
      color: white;
      text-align: center;
    }
    
    .btn-success{
      background-color: #65FC54;
    }

    .btn-warning{
      background-color: #fcf154;
    }

    .btn-danger{
      background-color: #FC5E54;
    }

    .img-thumbnail{
      margin-bottom: 1em;
      width: 7em;
      height: 7em;
      object-fit: cover;
    }

    .green-border{
      border: 3px solid #65FC54;
    }

    .yellow-border{
      border: 3px solid #fcf154;
    }

    .red-border{
      border: 3px solid #FC5E54;
    }
  }
  /*Lukas slut*/

  /*Osman start*/
  #overlay-osman {
    background: rgba(#000000, 0.5);
    padding-bottom: 1em;
    margin: 13% auto;
    border-radius: 29px;   
  }
  
  .img-main {
  max-width: 30%;
  }
  /*Osman slut*/
}

@media (min-width: 768px) {

  .container-button {
    margin: 15% auto;
    padding: 7% 10% 9% 10%;

    #background-color {
      padding: 7% 10% 9% 10%;
    }
    .subtitle {
      display: block;
    }
  }

  /*Saad start*/
  .omos {
        margin: 6% auto;

        h5 {
            font-size: 1.8em;
        }

        .bodytext-saad {
            font-size: 1.5em;
        }
    }
  /*Saad slut*/

  /*Osman start*/
    .img-main {
    max-width: 25%;
  }
  /*Osman slut*/
}

@media (min-width: 1024px) {

  .container-overlay {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 29px;
    margin: 18% auto;
  }

  .container-bodytext {
    display: block;

    .bodytext {
      display: block;
      padding: 20px 0px 10px 10px;
    }
  }

  .container-button {
    margin: 0% auto;
    padding: 0% 0% 0% 0%;

    #background-color {
      padding: 10% 0% 9% 0%;
      background: rgba(0, 0, 0, 0.0);
      margin-top: 5%;
      margin-bottom: 0%;
    }

    .header-1 {
      margin-bottom: 3%;
      font-size: 3em;
    }
  }

  /*Osman start*/
  .img-main {
    max-width: 15%;
  }
  /*Osman slut*/

  /*Lukas start*/
  #overlay-plastik{
    margin: 15% auto;
  /*Lukas slut*/
  }
}

@media (min-width: 1200px) {
  .img-main{
    max-width: 12%;
  }
 }

@media (min-width: 1400px) {

  .container-overlay {
    margin: 12% auto;
}
  .container-button {
    margin: 0% auto;
    padding: 0% 0% 0% 0%;

  #background-color {
    padding: 5% 0% 9% 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

/*Osman start*/
  .img-main{
  max-width: 10%;
  }
/*osman slut*/

  /*Lukas start*/
  #overlay-plastik{
    margin: 11% auto;
  /*Lukas slut*/
  }
}